:root {
    --bs-body-bg: '#000000';
    --bs-dark-rgb: '#000000';
}
.main {
    margin-top: 85px;
}

.hero {
    background-image: url("../img/run2.jpg");
    background-color: #cccccc;
    background-size: cover;
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.3;
    z-index: -200;
}

.sign-up-card {
    width: 350px
}
.navbar-brand {
    font-family: 'Komu A', 'sans-serif';
    font-size: 2.5rem;
    padding-bottom: 0px;
    color: #000000;
}

#mc_embed_signup {
    background: #fff;
    clear: left;
    font: 14px Helvetica, Arial, sans-serif;
    width: 350px;
    padding-top: 20px;
    padding-bottom: 20px;
}
